player-connection-mode=Listen
player-connection-guid=287293000
player-connection-debug=0
player-connection-project-name=Procedural Planet
player-connection-ip=192.168.1.68
player-connection-ip=172.17.0.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0e8c24e889c04fe8b0f985daa7a006a5
